<div th:fragment="paginationUser(userPage)" class="user-pagination">
	<nav aria-label="Page navigation">
		<ul class="pagination justify-content-center">
			<li class="page-item" th:classappend="${userPage.first} ? 'disabled'">
				<a class="page-link"
				th:href="@{/customerManagement(page=${userPage.number - 1}, size=${userPage.size})}">&laquo;</a>
			</li>

			<li class="page-item"
				th:each="i : ${#numbers.sequence(0, userPage.totalPages - 1)}"
				th:classappend="${userPage.number == i} ? 'active'"><a
				class="page-link"
				th:href="@{/customerManagement(page=${i}, size=${userPage.size})}"
				th:text="${i + 1}"></a></li>

			<li class="page-item" th:classappend="${userPage.last} ? 'disabled'">
				<a class="page-link"
				th:href="@{/customerManagement(page=${userPage.number + 1}, size=${userPage.size})}">&raquo;</a>
			</li>
		</ul>
	</nav>
</div>